body {
    background-color: aqua;
}
title {
    text-align: center;
}

h3{
font-family: 'Times New Roman', Times, serif;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
}


